/* Body stuff */

body {
  font-family: Verdana;
  background-color: #ffffff;
  margin: 0px;
}

/* Header style  */

header {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  color: #ffffff;
  padding: 30px;
}

/* size minimum for the time*/

time {
  min-width: 85px;
}

/* Main style */

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button style */

.button {
  display: block;
  color: #ffffff;
  background-color: lightblue;
  padding: 2vh;
  border-radius: 2px;
  border: none;
}

.inline-buttons {
  display: inline-flex;
}

/* Card style */

.card {
  max-width: 80%;
  margin-top: 5em;
  border: solid;
  border-width: 2px;
  padding: 50px;
  border-radius: 10px;
  border-color: gray;
  box-shadow: 10px 5px 5px gray;
}


#start-screen {
  display: inline;
  text-align: center;
}


.option-button {
  width: 100%;
  text-align: left;
  margin: 5px;
}

#result-div {
  display: none;
}

/* Score Styles */

.inline-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#initials {
  width: 25%;
  margin: 8px;
  padding: 10px;
}


#back-button {
  margin-right: 8px;
}

.highscore-list {
  padding-inline-start: 20px;
}

/* Media Queries */

@media screen and (min-width: 850px) {
  .card {
    max-width: 680px;
  }
}

/* Media query that specifies devices that can utilize hover */
@media (hover) {
  /* Stylings pertaining to hover pseudo-class*/
  a:hover {
    color: blue;
  }

  button:hover {
    background-color: rgba(54, 33, 131, 0.5);
  }
}
